.tooltip-trigger {
  position: relative;
  display: inline;
}

.tooltip-trigger .tooltip {
  width: 300px;
  background-color: rgb(59, 59, 59);
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.tooltip-trigger:hover .tooltip {
  opacity: 1;
}

.tooltip-right {
  top: 30px;
  left: 200px;
}

.tooltip-trigger .tooltip-right::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
